#container {
  background-color: #333333;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

#main {  
  color: #ffffff;
  text-align: center;
}

.ahlink {
  text-decoration-color: #ffffff;
  text-decoration-line: underline;
  color: red;
}

#sadkim {
  max-width: 100%;
}
